@charset "utf-8";
/* CSS Document */

/*==================
reset
====================*/
/*ベースの要素の設定をリセット*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,blockquote,th,td {
margin:0;
padding:0;
}

/*画像の枠線をクリアして位置の初期値の設定*/
img{
border:0;
vertical-align: top;
}

/*リンク時の枠の点線をなしにする*/
a{
outline: none;
}

/*リスト要素の初期値をリセット*/
ul,ol{
list-style: none;
}


/*フロート解除用のハック*/
/*clearfix*/
.clearfix:after{
visibility:hidden;
height:0;
display: block;
font-size: 0;
content: " ";
clear: both;

}
* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }


/*==================
共通
====================*/

body{
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳＰゴシック',sans-serif;
font-size: 62.5%;
line-height: 1.6;
color: #333;
background: #fff;
}

#container {
  width: 950px;
  margin: 0 auto;
}

a:link,
a:visited,
a:active {
  color: #09c;
  text-decoration: underline;
}

a:hover {
  color: #fc3;
  text-decoration: none;
}
/*==================
header
====================*/
#header {
  margin-top: 56px;
}
#header h1 {
  float: left;
}

#header p {
  float: left;
  margin: 16px 0 0 30px;
}

#header form {
  float: right;
  width: 150px;
  border: 1px solid #eee;
  position: relative;
}

#header #search {
  color: #ccc;
  width: 125px;
  padding: 5px 0 5px 3px;
  font-size: 1.2em;
  border: 0;
}

#header #searchBtn {
  position: absolute;
  top: 5px;
  left: 130px;
}
/*==================
nav
====================*/
#nav {
  width: 160px;
  margin-top: 40px;
  float: left;
}

#nav li {
  margin-bottom: 25px;
  background: url(./images/icon_01.gif) no-repeat 0 3px;
  padding-left: 14px;
}


/*==================
contents
====================*/
#contents {
  width: 790px;
  margin-top: 40px;
  float: right;
}

/* RECOMMENDED ITEM*/
#recommended {
  width: 480px;
  margin-top: 45px;
  font-size: 1.2em;
  font: left;
}

#recommended h2 {
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
  margin: 0 10px 12px 0;
}

div.box {
  width: 110px;
  margin: 30px 0 0 10px;
  float: left;
}

div.box h3 {
  font-weight: normal;
  font-size: 1.0em;
  margin-top: 12px;
}

div.box p {
  font-size: 0.9em;
}

/* WHAT' NEW */
#news {
  width: 270px;
  margin-top: 45px;
  padding-bottom: 80px;
  float: right;
}

#news h2 {
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
}

#news dt {
  font-size: 0.9em;
  padding-top: 15px;
}

#news dd {
  border-bottom: 1px solid #999;
  padding-bottom: 15px;
  font-size: 1.2em;
}

#news dd.last {
  border-bottom: none;
}
/*==================
footer
====================*/
#footer {
  clear: both;
  border-top: 1px solid #999;
  min-height: 90px;
}

#footer p {
  text-align: right;
  padding: 10px;
  color: #666;
  font-size: 1.0em;
}
